%div.full_width
	=form_tag 'home/generate', :remote => true do
		%div#fields
			=text_field_tag 'sitcom_title', nil, :placeholder => 'Title', :id => 'sitcom_title' 
			=text_field_tag 'characters[]', nil, :placeholder => 'Character', :class => 'character'
			=text_field_tag 'characters[]', nil, :placeholder => 'Character', :class => 'character'
		%div.quarter_width.center{:style => 'position:relative'}
			=link_to image_tag('add.png'), "", :id => 'add_new_character', :class => 'circle red'
		%br
		%div
			=submit_tag "Generate!", :id => 'submit_form'

	%h2
		%div#results

:coffee
	$('#add_new_character').click ->
		new_tag = $('#{text_field_tag 'characters[]', nil, :placeholder => 'Character', :class => 'character'}')
		new_tag.appendTo('#fields').hide().slideDown()
		$(this).addClass('spin_back')
		$(this).removeClass('spin_up')
		return false

	$('#add_new_character').mouseenter ->
		$(this).addClass('spin_up')
		$(this).removeClass('spin_back')

	$('#add_new_character').mouseleave ->
		$(this).addClass('spin_back')
		$(this).removeClass('spin_up')