.full_width
  =form_tag 'home/generate', :remote => true do
    .center{:style => 'width:300px'}
      .fields#characters
        -(1..3).each do
          =text_field_tag 'characters[]', nil, :placeholder => 'Character'
      .center{:style => 'position:relative'}
        =link_to image_tag('add_48px.png'), '', :id => 'add_new_character',
                                                :class => 'circle amber',
                                                :style => 'top:-15px;right:-10px'
        .tooltip{:id => 'new_character_tooltip', :style => 'top:-8px; right:-125px'}
          Add Character
      %br
      %div
        =submit_tag 'GENERATE', :id => 'submit_form', :class => 'button'

    #title.center
    #episode_number.center{:style => 'width:300px'}
    #episode_desc.center{:style => 'width:300px'}

:coffee
  $('#add_new_character').click ->
    new_tag = $('#{text_field_tag 'characters[]', nil, :placeholder => 'Character', :class => 'character'}')
    new_tag.appendTo('.fields').hide().slideDown()
    $(this).addClass('spin_left')
    setTimeout ( =>
      $(this).removeClass('spin_left')
    ), 500
    return false
