-if flash[:error]
  show_flash("#{flash[:error].html_safe}");
-else
  $('#title').html("#{@title}");
  $('#episode_number').html("Episode #{@episode_number}");
  $('#episode_desc').html("#{@episode_desc}");